@model TravelBlog.Models.Experience
@{
    ViewData["Title"] = "Experience - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>My Travels - Details</title>
</head>
<body>
    <h2>Details</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Name)
    @Html.DisplayFor(model => model.Name)
    <hr />
    @Html.DisplayNameFor(model => model.Description)
    @Html.DisplayFor(model => model.Description)
    <hr />
    @Html.DisplayNameFor(model => model.TravelDate)
    @Html.DisplayFor(model => model.TravelDate)
    <hr />
    @Html.DisplayNameFor(model => model.Location)
    @Html.DisplayFor(model => model.Location)
    <hr />
    <label>People</label>
    @foreach(var person in @Model.Persons)
    {
        <p>person.Name</p>
    }


    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>
